package {{.name | ToLower}}

import (
	"encoding/gob"
	"errors"
	log "github.com/sirupsen/logrus"
	
	"github.com/netm4ul/netm4ul/core/database/models"
	"github.com/netm4ul/netm4ul/modules"
)

type {{.name}}Config struct{

}

type {{.name}} struct{
	Config {{.name}}Config
}

// New{{.name}} generate a new {{.name}} module (type modules.Module)
func New{{.name}}() modules.Module {
	gob.Register({{.name}}{})
	var t modules.Module
	t = &{{.name}}{}
	return t
}

func ({{.shortName}} *{{.name}}) Name() string{
	return "{{.name}}"
}

func ({{.shortName}} *{{.name}}) Version() string{
	return "1.0"
}

func ({{.shortName}} *{{.name}}) Author() string{
	{{ if .author }} return {{.author}}	{{ else }} return "AUTHOR NAME"	{{ end }}
}

func ({{.shortName}} *{{.name}}) DependsOn() []modules.Condition{
	return nil
}

func ({{.shortName}} *{{.name}}) Run([]modules.Input) (modules.Result, error){
	return modules.Result{}, errors.New("Not implemented yet")
}

func ({{.shortName}} *{{.name}}) ParseConfig() error{
	return errors.New("Not implemented yet")
}

func ({{.shortName}} *{{.name}}) WriteDb(result modules.Result, db models.Database, projectName string) error{
	return errors.New("Not implemented yet")
}