# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# dep lock file
*.lock

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
netm4ul

# vim backup file
*.swp

# Remove project folder
vendor/
.idea/
.vscode/
data/
*.log
reports/*

# personnal conf
netm4ul.conf.my
netm4ul.conf
netm4ul.conf.old

# Don't include certs
certificates/*

# Random Files
127.0.0.1.xml
wordlists/*

# Ignore tests files (if any)
tests/testfile

# Ignore coverage tool results
coverage.*