{{ define "TOC" }}
{{Center ".:! Table of content !:."}}
{{Pad "~" 80}}
{{Center "0x01 - IPs ............."}}
{{Center "0x02 - Domains ........."}}
{{Center "0x03 - Ports ..........."}}
{{Center "0x04 - Vulnerablities .."}}
{{Pad "~" 80}}
{{end}}